<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
		<property name="propertyEditorRegistrars">
			<list>
				<bean class="org.xman.trainings.spring.editor.DateEditorRegistrar"/>
			</list>
		</property>
	</bean>

	<bean id="customer" class="org.xman.trainings.spring.Customer">
		<property name="date" value="2010-02-31" />
	</bean>

</beans>